.heading{
  text-align: center;
  
}

.btn{
  padding: 10px;
  font-weight: bold;
  margin-left: 36%;
}
p{
  margin: 10px;
  margin-top: 10px
}


p span{
  border: 2px solid black;
  display:inline-block;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 5px;
  margin-top: 5px;
}

.display-content{
  margin: auto;
  width: 50%;
  height: 10vh;
  width: 500px;
}
.display-content span{
  font-weight: bold;
}


.display-count{
  text-align: center;
}


#displayPara{
  font-weight: bold;
  margin-left: 40px;
  margin-right: 40px;
}
input{
  display: block;
  margin-bottom: 10px;
  margin-left: 30%;
  text-align: center;
}

.btn-display{
  margin-left: 43%;
}
@media (max-width:500px){
  .btn{
      padding: 5px;
  }
  .display-content{
      width: auto;
  }
  .btn-display{
      margin-left: 42%;
  }

  input{
      margin-left: 28%;
  }

}

@media (max-width:400px){
  .display-content p{
      font-size: 14px;
  }
  input{
      margin-left: 24%;
  }
}